{% extends 'base.html.twig' %}

{% block title %}Book list{% endblock %}

{% block body %}
    <h1>Book list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Author</th>
                <th>Year</th>
                <th>ISBN</th>
                <th>Apie</th>
                <th>Nuotrauka</th>
                <th>Actions</th>

            </tr>
        </thead>
        <tbody>
        {% for knyga in knygos %}
            <tr>
                <td>{{ knyga.id }}</td>
                <td>{{ knyga.pavadinimas }}</td>
                <td>{{ knyga.autorius }}</td>
                <td>{{ knyga.isleidimoMetai }}</td>
                <td>{{ knyga.ISBN }}</td>
                <td>{{ knyga.Apie }}</td>
                <td>{{ knyga.Nuotrauka }}</td>
                <td>
                    <a href="{{ path('app_book_edit', {'id': knyga.id}) }}">edit</a>
                    <form method="post" action="{{ path('app_book_delete', {'id': knyga.id}) }}" style="display: inline;">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ knyga.id) }}">
                        <button type="submit" onclick="return confirm('Are you sure?')">delete</button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_book_new') }}">Create new</a>
{% endblock %}